html, body {
	min-height: 100%;
}

nav ul{
	text-align: center;
	list-style-type: none;
}
nav li {
	margin-left: 20px;
	margin-right: 20px;
}

p {
	padding: 3px;
	font-size: 20px;
}

#wrap {
	background-image: url('img/background2.JPG');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: calc(100vh - 57px); 
}

.fullpagebody{
	 min-height: calc(100vh - 57px - 56px); 
}


.quote {
	font-size: 25px;
}


.content-text-small {
	padding: 3px;
	font-size: 16px;
}

.image {
	padding: 14px;
	background-color: lightgray;
}



.title-text {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

}

.navbar {
	margin-bottom: 0px;
}

.homebanner {
	background-color: #ADFFEC;
}
.sector {
	min-height: 90vh;
}
.jumbotron{
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content:center;
	align-content:center;
	flex-direction:column;
	
}
.fencing-body {
	background-color: #D4D4D4;
	box-shadow: 0 0 14px 14px #D4D4D4;
}
.quote {
	font-size: 24px;
}

hr {
	border: 1px solid gray;
}

.thin{
	border: 1px solid lightgray;
}

.vertical{
	display: flex;
	align-items:center;
}


