html, body {
	min-height: 100%;
}

nav ul{
	text-align: center;
	list-style-type: none;
}
nav li {
	padding-left: 20px;
	padding-right: 20px;
}

nav li:hover{
	animation: changecolor 0.3s forwards;
}

@keyframes changecolor{
	0%{background-color: #343A40;}
	100%{background-color: #4d565e};
}

p {
	padding: 3px;
	font-size: 20px;
}

hr {
	border: 1px solid gray;
}

h.thin{
	border: 1px solid lightgray;
}

.full-page-body{
	 min-height: calc(100vh - 57px - 56px); 
}

.background-image{
	background-image: url('img/background2edited.JPG');
    background-attachment: fixed;
    background-size: cover;
}

.credit{
	font-size: 10px;
	color: black;
}

.quote {
	font-size: 25px;
}


.content-text-small {
	padding: 3px;
	font-size: 16px;
}

.image-border{
	padding: 14px;
	background-color: lightgray;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body{
}

.modal-footer{
	text-align: center !important;
	align-items: center;
    justify-content: center;
}